* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}


body {
    background-color: #fafafa;
    background: linear-gradient(to right, #ebe7e3, #e6c8a0);
    line-height: 1.5;
    color: #404040;
    padding: 0 25px;
}

/* Header */
header {
    background: #f8f1e7;
    background: linear-gradient(to right, #cdb392, #f8f1e7);
    padding: 30px 10px;
    border-radius: 10px;
}

header h1 {
    font-size: 40px;
    color: #4a3728;
    margin-top: 10px;
}

header p {
    color: #836e65;
    margin-bottom: 25px;
    font-size: 18px;
}

/* NAV Bar*/
nav a {
    margin: 6px;
    text-decoration: none;
    color: #4a3728;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #ac7a48;
    text-decoration: underline;

}
    
 h3, h4 {
    color: #4a3728;
}

section, article, aside {
    margin: 10px 0;
}

section img {
    border-radius: 12px;
}

article ul {
    margin-left: 25px;
    padding: 10px 0;
    list-style-type:circle ;
}

article ul li {
    font-size: 17px;
    margin-bottom: 5px;
}

/*Table */
table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    font-size: 18px;
}

table th, table td {
    border: 1px solid #807d7d;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #cfb596;
    color: #664c38;
    font-weight: bold;
} 

table tr:hover {
    background-color: #c6bdaf;
}

/*timing*/
#time{
    background-color: #ac7a48;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
}

#time h4{
    text-align: center;
    font-weight: bold;
    color: #e5dbcd;
    font-size: 20px;
}

#time ol {
    color: whitesmoke;
    font-style: italic;
}

/*Form*/
form {
    background-color: #fdf2e9;
    padding: 20px;
    width: 60%;
    margin: auto; 
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #be9460;
    border-radius: 8px;
    margin-top: 5px;
}

form input:focus, form textarea:focus {
    border-color: #b56719;
}

form input[type="submit"] {
    background-color: #c07b34;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 12px;

}

form input[type="submit"]:hover {
    background-color: #a5652c;
}

aside {
    background: linear-gradient(to right, #cdb392, #e5dbcd);
    padding: 20px;
    width: 90%;
    margin: 30px auto;
    border-radius: 15px;
}

aside h4 {
    color: #ca731de7;
}

footer {
    background-color: #4a3728;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

footer p, footer h3 {
    color: #fff;
}

a {
    color: #c07b34;
    font-weight: bold;
    text-decoration: none ;
}

a:hover {
    color: #664c38;
    text-decoration: underline;
}



/* RESPONSIVE DESIGN */

/* Tablet Screens */
@media (max-width: 1000px) {

    body {
        padding: auto;
    }

    table {
        width: 100%;
        font-size: 16px;
    }

    #time, form {
        width: 80%;
    }

    header h1 {
        font-size: 30px;
    }

    nav a {
        font-size: 15px;
    }
}


/* Mobile Screens */
@media (max-width: 600px) {

    header {
        padding: 20px 5px;
    }
    nav a{
        font-size: 12px;
    }

    header h1 {
        font-size: 20px;
    }

    header p {
        font-size: 14px;
    }

    section img {
        width: 100%;
        height:auto;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    #time {
        width: 100%;
        padding: 15px;
    }

    form {
        width: 90%;
    }

    form input, form textarea {
        padding: 5px;
    }

    aside {
        width: 100%;
        font-size: 12px;
        padding: 15px;
    }

    footer {
        font-size: 10px;
        text-align: center;
    }
}

